@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,500&display=swap");
body {
  margin: 0;
  background-color: #9370DB; }

header {
  display: flex;
  justify-content: center; }
  header h1 {
    color: #fff;
    font-family: "Roboto Mono", monospace;
    font-weight: lighter; }

main {
  margin: 5% 8%;
  padding: 0 10%; }
  main .addButton {
    background: none;
    border: none;
    color: #9370DB;
    background-color: #E6E6FA;
    height: 50px;
    width: 150px;
    font-family: "Roboto Mono", monospace;
    font-weight: lighter;
    font-size: 1em;
    border-radius: 8px; }
    main .addButton .addSymbol {
      margin: 0 10% 0 0;
      font-size: 1.5em; }

.body {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1; }

.noBook {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  margin: 10%;
  text-align: center;
  width: 80%;
  height: 150px;
  background-color: #7447d1;
  display: flex;
  align-items: center;
  justify-content: center; }

.background {
  position: relative;
  height: 100%;
  width: 100%; }

.addBookForm {
  position: absolute;
  top: 0;
  left: 30%;
  width: 50vw;
  transition: transform 300ms; }
  .addBookForm .bookInfo {
    width: 80%;
    height: 275px;
    background-color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: lighter;
    margin: 5% 0;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    border: 10px solid #7447d1; }
    .addBookForm .bookInfo .bookHeader {
      background-color: #9370DB;
      height: 30px;
      display: flex;
      align-items: center;
      color: #fff; }
      .addBookForm .bookInfo .bookHeader p {
        margin: 0; }
    .addBookForm .bookInfo .bookNameInput {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #9370DB; }
      .addBookForm .bookInfo .bookNameInput input[type=text], .addBookForm .bookInfo .bookNameInput input[type=number] {
        border: 1px solid #9370DB;
        margin: 0 3%;
        height: 20px;
        width: 200px; }
    .addBookForm .bookInfo .btns {
      display: flex;
      justify-content: flex-end; }
      .addBookForm .bookInfo .btns button:first-child {
        margin-right: 0; }
      .addBookForm .bookInfo .btns button {
        background: none;
        border: none;
        color: #fff;
        background-color: #9370DB;
        margin: 5% 4%;
        height: 25px;
        font-family: "Roboto Mono", monospace;
        font-weight: lighter; }

.bookContainer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.deleteBtn {
  border: none;
  background: none;
  position: absolute;
  color: red;
  font-size: 1.5em;
  top: 0;
  right: 2px; }
  .deleteBtn:hover {
    opacity: 0.6; }

.bookListDiv {
  width: 80%;
  height: 150px;
  background-color: #fff;
  border: 10px solid #7447d1;
  margin-top: 10%;
  border-radius: 15px;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .bookListDiv .bookName, .bookListDiv .authorName, .bookListDiv .pageNum {
    display: flex;
    padding: 10px;
    justify-content: center; }
    .bookListDiv .bookName p, .bookListDiv .authorName p, .bookListDiv .pageNum p {
      margin: 0;
      color: #7447d1; }
